html, body {
  margin: 0px;
  height: 100%;
}

#chart {
  margin: 10px;
  padding: 2px;
  display: flex;
  align-items: flex-end;
  border: 1px solid #000;
  height: 300px;
  width: 400px;
  background-color: #000;
  border: 2px solid #000;
}

#chart div {
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
}
